@use "../../../default_mixin_setting/_main_mixin" as *;
// Merriweather Sans
// Shippori Mincho
// Noto Sans JP
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho&display=swap');


*{
  box-sizing:border-box;
}
// font-familyセット
  $merriweather-sans:'Merriweather Sans',Sans-serif;
  $shippori-mincho:'Shippori Mincho',Sans-serif;
  $noto-sans-jp:'Noto Sans JP',Sans-serif;

// colorセット
  $light-green:#F0F5E1;
  $grass-green:#96C519;
  $moss-green:#468459;
  $dark-green:#0C4324;

  body{
    margin:0;
    padding:0;
    // font-size:clamp(12px,1rem,16px);
    font-family: $noto-sans-jp;
  }

  // ヘッダー
  header{
    position:relative;
    @include wd-ht-setting(100%,100%);

    .carousel-container{
      @include wd-ht-setting(100%,100%);
      position:relative;
    }

    // カルーセル全体のdiv
    .carousel{
      @include wd-ht-setting(100%,100%);
      z-index:-2;
      visibility: hidden;

      img{
        width:clamp(300px,100%,1980px);
        height:clamp(150px,80%,350px);
        background-size:contain;
    
      }
      
      &.slick-initialized{
        visibility:visible;
      }
    }
  }

  progress {
    width: 8%;
    height: 1%;
    border-radius: 15px;
    position:absolute;
    right:2%;
    bottom:4%;
  }
  
  progress::-webkit-progress-bar {
     border-radius: 15px;
     background-color:white;
  }
  
  progress::-webkit-progress-value {
    border-radius: 15px;
    background-color:$moss-green;
  }



.head-nav{
  display:flex;
  width:100%;
  margin-top:2%;
  justify-content:space-between;
  align-items:center;
  position:absolute;
  top:0;
}

// 下層ページ用のヘッダーCSS
.head-menu{
  position:static;
  margin:1% 0;

  .nav-link{
    color:$moss-green;
  }

  .head-btn{
    color:white;
  }
}

/*aboutトップ画像*/
.about-carousel{
  width:100%;
  img{
    width:100%;
    
  }
}

  // ナビゲーションのCSS
  .nav-menu{
    display:flex;
    align-items:center;
    justify-content:flex-end;
    margin-right:2%;
    gap:3%;
    width:75%;
  }

     // ボタン
    .head-btn{
      background-color:$dark-green;
      border-radius:5px;
      height:3%;
      width:25%;
      padding:0.25rem;
      text-align:center;
    }

  // ロゴのCSS
  .logo-img{
    width:25%;

    a{
    display:flex;
    justify-content:center;
    align-items:center;
    }
    img{
      width:clamp(80px,100%,200px);
    }
  }

      // リンクの装飾
      .nav-link{
        text-decoration:none;
        color:white;
      }

      /*コンセプト*/
#concept{
  display:flex;
  justify-content:space-around;
  width:100%;
  height:100%;
  padding:5% 15% 15% 15%;
  background-image:url('../images/concept1.png'),url('../images/concept2.png');
  background-size:35%,30%;
  background-position-x:10%,100%;
  background-position-y:32%,95%;
  background-repeat:no-repeat;

  h3,span{
    color:$moss-green;
    margin:0;
  }
  
  .concept-left,.concept-right{
    @include wd-ht-setting(50%,100%);
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  .concept-left{
    gap:5%;
    align-items:flex-start;

    h1{
      color:$moss-green;
      line-height:2.5rem;
      margin-top:8%;
    }
    div{
      width:100%;
    }
    .concept-btn{
      display:flex;
      justify-content:flex-end;

      a{
      border:1px solid black;
      text-decoration:none;
      color:black;
      padding:1%;
      border-radius:5px;
      margin-right:10%;
      }
    }
  }
  .concept-right{
    align-content:center;
    margin-top:10%;
    > div{
      width:100%;
    }
    img{
      width:100%;
    }
  }
}

/*当院について-about-*/

/*フロー*/
#flow{
  background-image:url('../images/about/flow-back.png'),url('../images/concept2.png');
  background-repeat:no-repeat;
  background-size:25%,30%;
  background-position:10% 30%,100% 95%;
  padding:5% 5% 5% 5%;

  >h3,span{
    color:$moss-green;
    margin:0 0 0 12%;
  }
  span{
    display:block;
  }
}

.flow-container{
  display:flex;
  justify-content:space-between;
  gap:3%;
  padding:0 12% 12% 12%;
  
}

.flow-left{
  width:40%;
  display:flex;
  align-items:center;
  

  ol{
    margin:0;
    line-height:3rem;
  }

}

.flow-right{
  width:50%;
  display:flex;
  align-items:center;

  img{
    width:100%;
  }
}

/*根本改善のポイント-point-*/

.point-container{
  padding:5%;
}

.point-head{
  display:flex;
  flex-direction: column;
  gap:2%;
  align-items:center;

  h3{
    width:60%;
    color:$moss-green;
    text-align:center;
    margin:1%;
  }
}

.point-3columns{
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding:5% 0; 
  div{
    width:30%;
    text-align:center;
    img{
      width:100%;
    }
  }
}

/*コース*/
#courses{
  background-image:url('../images/courses-back1.svg'),url('../images/courses-back2.svg'),url('../images/courses.back.png');
  background-repeat:no-repeat;
  background-size:30%,30%,cover;
  background-position-x:5%,100%,100%;
  background-position-y:32%,95%,100%;
  border-top:10rem solid transparent;
  padding-bottom:5%;
}

/*コース（下層ページ用CSS）*/
#courses-price{
  background-color:#fafafa;
}

.courses-top-space2{
  @include wd-ht-setting(100%,5rem);
}

/*コースアイテム用のCSS*/

#insurance{
  padding-top:10%;
}

.courses-container{
  display:flex;
  justify-content:center;
  gap:3%;
}

.courses-item{
  width:40%;
  padding-left:10%;
  h3,span{
    color:$moss-green;
    margin:5% 0 0 0;
  }
  ul{
    margin:10% 0;
    li{
      line-height:2.5rem;
    }
  }
}

.courses-img-item{
  width:60%;
  padding:0 10% 5% 5%;
  img{
    width:100%;
  }
}

.courses-item-p{
  margin:0;
}

.courses-top-space{
  width:100%;
  height:10rem;
}
/*コース:メインコンテンツ*/
#courses-main-container{
  .head-h3{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  
    h3{
      margin:0;
      color:$moss-green;
      width:30%;
      text-align:center;
  
      &:nth-of-type(2){
        margin-top:1%;
      }
    }
  }
// 2カラムのボックス
  .courses-flex-box{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5%;
    padding:5% 5% 3% 5%;

    h3{
      color:$dark-green;
    }

    img{
      width:100%;
    }


  }

  .courses-btn{
    text-align:center;
    margin:2%;

    a{
      text-decoration:none;
      color:black;
      border:1px solid black;
      border-radius:5px;
      padding:0.5%;
    }
  }
}


// voice
#voice{

  .voice-head{
    width:100%;
    img{
      width:100%;
    }
    // div:nth-of-type(2){
    //   position:absolute;
    //   bottom:-25%;
    //   text-align:center;
    //   width:100%;
    //   img{
    //     width:30%;
    //   }
    // }
    }

    .voice-text-container{
      display:flex;
      flex-direction:column;
      align-items:center;
      width:100%;

      .head-h3{
      width:30%;
      position:relative;
      top:-2rem;
      left:0;
      text-align:center;
      color:$moss-green;

      h3{
        margin:0;
        &:nth-of-type(2){
          margin-top:3%;
        }
      }
    }
    }

    

    .voice-container{
      display:flex;
      justify-content:space-around;
      margin:3% 5% 5% 5%;
      text-align:center;

      h3{
        color:$dark-green;
      }

      img{
        width:80%;
      }

      .voice-content{
        width:33%;
      }
    }

    .voice-img{
      text-align:center;
    }
    
    .voice-btn{
      display:flex;
      justify-content:center;
      margin:5%;

      a{
        text-decoration:none;
        color:black;
        border:1px solid black;
        border-radius:5px;
        padding:0.5%;
      }
    }
}

/*お知らせ：mainのCSS*/
.main-container{
  display:flex;
}

.article-container{
  width:75%;
  padding:5%;
}

.news-container{
  width:100%;
  display:flex;
  gap:3%;
  padding:2%;
}

.news-img-container{
  width:50%;
  text-align:center;

  img{
    width:100%;
  }
}

.news-text-container{
  width:50%;

  h3{
    margin-top:0;
  }
}

.news-p{
  display:inline-block;
  margin:0 5% 0 0;
}

.news-span{
  background-color:$moss-green;
  color:white;
  text-align:center;
  border-radius:5px;
  padding:0.5% 5%;
}

/*お知らせ：sidebarのCSS*/
.aside-container{
  width:25%;
  padding:5%;

  ul{
    list-style:none;
    padding-left:0;

    li{
      line-height:2rem;
    }
  }

  h3{
    margin-top:0;
    color:$dark-green;
  }
}

/*お知らせ：ページNoのCSS*/
.page-more{
  display:flex;
  gap:0.5%;
  justify-content:center;
  padding-bottom:10%;

  span,a{
    @include wd-ht-setting(2%,2%);
    text-align:center;
  }
  span{
    &:nth-of-type(1){
      background-color:$dark-green;
      color:white;
    }
  }

  a,span:nth-of-type(2){
    color:$moss-green;
  }

  a{
    text-decoration:none;
  }
}

/*news:詳細ページCSS*/

.page-about-head{
  h2{
    color:$dark-green;
    margin-top:0;
  }

  .news-about-head-img{
    margin-top:5%;

    img{
    width:100%;
  }
  }
}

.page-about-text{
  h2,h3,h4{
    color:$dark-green;
  }
}

.page-about-nav{
  display:flex;
  justify-content:center;

  nav{
    width:70%;
    display:flex;
    justify-content:space-around;
    gap:3%;
  }
}

.news-a{
  text-decoration:none;
  color:black;
}


/*フッター*/
footer{
  padding:10% 0 0 0;
  background-image:url('../images/concept-back.svg');
  background-repeat:no-repeat;
  background-size:100%;
}

.footer-head{
  display:flex;
  justify-content:center;
  padding:3% 5%;

  h3{
    margin:0;
    color:$moss-green;
  }
}

.foot-container{
  display:flex;
  gap:3%;
  margin:0 5%;
}

.foot-left{
  @include wd-ht-setting(50%,100%);
}

.foot-right{
  width:50%;
  padding:1%;
}

.foot-left{
  img{
    width:100%;
  }

  ul{
    list-style:none;
    padding:0;
  }

  h3{
    color:$moss-green;
  }
  span{
    font-size:0.85rem;
  }
}

.foot-right{
  display:flex;
  align-items:center;
}

.copy-right{
    padding:0;
    margin:0;
    text-align:center;
    background-color:$moss-green;
    color:white;
}

.foot-btn{
  display:inline-block;
  padding:3%;
  margin:2% 0;
  border-radius:5px;
  background-color:#1B9240;
  font-family:$noto-sans-jp;
  border:none;
  color:white;
  text-decoration:none;
  text-align:center;
  }


.foot-nav{
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:7% 5%;
}

.foot-logo{
  width:20%;

  a{
    display:flex;
    align-items:center;
  }

  img{
    width:100%;
  }
}

.foot-nav-menu{
  display:flex;
  position:relative;
  align-items:center;
  justify-content: space-around;
  width:72%;

  a{
    color:black;
  }
}

/*下層ページのナビゲーションのCSS*/
#nav-link2{
  color:$dark-green;
}

.back-top{
  display:flex;
  justify-content: flex-end;
  position:fixed;
  bottom:8rem;
  right:-0.8rem;
  width:100%;

  img{
    width:70%;
  }
}





