@use "../../../default_mixin_setting/_main_mixin" as *;
// Merriweather Sans
// Shippori Mincho
// Noto Sans JP
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho&display=swap');


*{
  box-sizing:border-box;
}
// font-familyセット
  $merriweather-sans:'Merriweather Sans',Sans-serif;
  $shippori-mincho:'Shippori Mincho',Sans-serif;
  $noto-sans-jp:'Noto Sans JP',Sans-serif;

// colorセット
  $light-green:#F0F5E1;
  $grass-green:#96C519;
  $moss-green:#468459;
  $dark-green:#0C4324;

  body{
    margin:0;
    padding:0;
    // font-size:clamp(12px,1rem,16px);
    font-size:clamp(8px,1rem,16px);
    font-family: $noto-sans-jp;
  }

  // ヘッダー
  header{
    position:relative;
    @include wd-ht-setting(100%,100%);

    .carousel-container{
      @include wd-ht-setting(100%,100%);
      position:relative;
    }

    // カルーセル全体のdiv
    .carousel{
      @include wd-ht-setting(100%,100%);
      z-index:-2;
      visibility: hidden;

      img{
        width:clamp(300px,100%,1280px);
        height:clamp(150px,80%,350px);
        background-size:contain;
    
      }
      
      &.slick-initialized{
        visibility:visible;
      }
    }
  }

  progress {
    width: 8%;
    height: 1%;
    border-radius: 15px;
    position:absolute;
    right:2%;
    bottom:4%;
  }
  
  progress::-webkit-progress-bar {
     border-radius: 15px;
     background-color:white;
  }
  
  progress::-webkit-progress-value {
    border-radius: 15px;
    background-color:$moss-green;
  }



.head-nav{
  display:flex;
  width:100%;
  justify-content:space-between;
  align-items:center;
  position:absolute;
  top:0;

  // ロゴのCSS
  .logo-img{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:1%;
    width:25%;
    img{
      width:clamp(80px,100%,200px);
    }
  }

  // ナビゲーションのCSS
  nav{
    display:flex;
    align-items:center;
    gap:30px;
    margin-right:20px;

    // ボタン
    button{
      background-color:$dark-green;
      height:30px;
      width:160px;
    }

    .nav-link{
      text-decoration:none;
      color:white;
    }
  }
}

#concept{
  display:flex;
  justify-content:space-around;
  width:100%;
  height:100%;
  padding:15%;
  background-image:url('/final-practice/images/concept-back1.svg'),url('/final-practice/images/concept-icon2.svg');
  background-size:35%,30%;
  background-position-x:10%,100%;
  background-position-y:32%,95%;
  background-repeat:no-repeat;

  
  .concept-left,.concept-right{
    @include wd-ht-setting(50%,100%);
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  .concept-left{
    gap:5%;
    align-items:flex-start;

    h2{
      color:$moss-green;
      line-height:2.5rem;


    }
    div{
      width:100%;
      &:nth-of-type(4){
        display:flex;
        justify-content:flex-end;
      }
    }
    button{
      background-color:white;
      border:1px solid black;
      border-radius:5px;
      margin-right:10%;
    }
  }
  .concept-right{
    align-content:center;
    margin-top:10%;
    > div{
      width:100%;
    }
    img{
      width:100%;
    }
  }
}

#courses{
  margin:5% auto 0 auto;
  padding:0 5% 5% 5%;
  background-image:url('/final-practice/images/courses-img.svg'),url('/final-practice/images/courses-back2.svg'),url('/final-practice/images/courses-back.svg');
  background-repeat:no-repeat;
  background-size:30%,25%,cover;
  background-position-x:15%,100%,center;
  background-position-y:31%,90%,center;


  .courses-head{
    padding-top:15%;
    text-align:center;

    img{
      width:30%;
    }
  }

  #courses-main-container{
    display:flex;
    justify-content:space-around;
    margin:5% 10%;

    h3{
      color:$dark-green;
    }

    .courses-head{
      padding:4% 0;
    }

    .courses-left,.courses-right{
      @include wd-ht-setting(37%,100%);
      padding:0;

      li{
        line-height:2.5rem;
      }

      .courses-img-container{
        @include wd-ht-setting(100%,100%);
        img{
        width:100%;
      }
      }
      
    }

  //   .courses-left{
  //     margin-left:15%;
  //   }

  // .courses-right{
  //   margin-right:10%;
  // }

  }
  .courses-btn{
      display:flex;
      justify-content:center;
      margin:2%;
      button{
        background-color:$light-green;
        border:1px solid black;
        border-radius:5px;
      }
    }
}

// voice
#voice{

  .voice-head{
    width:100%;
    position:relative;
    img{
      width:100%;
    }
    div:nth-of-type(2){
      position:absolute;
      bottom:-25%;
      text-align:center;
      width:100%;
      img{
        width:30%;
      }
    }
    }

    .voice-container{
      display:flex;
      justify-content:space-around;
      margin:10% 10% 5% 10%;

      img{
        width:80%;
        text-align:center;
      }

      .voice-content{
        width:33%;
      }
    }
    
    .voice-btn{
      display:flex;
      justify-content:center;
      margin:5%;

      button{
        background-color: white;
        border:1px solid black;
        border-radius:5px;
      }
    }
}

footer{
  
}





