@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+JP:wght@100..900&family=Shippori+Mincho&display=swap");
/*body用のgirdレイアウト*/
.body-grid {
  display: grid;
  grid-template: "head" "main" "foot";
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: clamp(8px, 1rem, 16px);
  font-family: "Noto Sans JP", Sans-serif;
}

header {
  position: relative;
  width: 100%;
  height: 100%;
}
header .carousel-container {
  width: 100%;
  height: 100%;
  position: relative;
}
header .carousel {
  width: 100%;
  height: 100%;
  z-index: -2;
  visibility: hidden;
}
header .carousel img {
  width: clamp(300px, 100%, 1280px);
  height: clamp(150px, 80%, 350px);
  background-size: contain;
}
header .carousel.slick-initialized {
  visibility: visible;
}

progress {
  width: 8%;
  height: 1%;
  border-radius: 15px;
  position: absolute;
  right: 2%;
  bottom: 4%;
}

progress::-webkit-progress-bar {
  border-radius: 15px;
  background-color: white;
}

progress::-webkit-progress-value {
  border-radius: 15px;
  background-color: #468459;
}

.head-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3%;
  margin-right: 20px;
  width: 75%;
}

.head-btn {
  background-color: #0C4324;
  height: 30px;
  width: 160px;
}

.logo-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  width: 25%;
}
.logo-img img {
  width: clamp(80px, 100%, 200px);
}

.nav-link {
  text-decoration: none;
  color: white;
}

#concept {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 15%;
  background-image: url("/final-practice/images/concept-back1.svg"), url("/final-practice/images/concept-icon2.svg");
  background-size: 35%, 30%;
  background-position-x: 10%, 100%;
  background-position-y: 32%, 95%;
  background-repeat: no-repeat;
}
#concept .concept-left, #concept .concept-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#concept .concept-left {
  gap: 5%;
  align-items: flex-start;
}
#concept .concept-left h2 {
  color: #468459;
  line-height: 2.5rem;
}
#concept .concept-left div {
  width: 100%;
}
#concept .concept-left div:nth-of-type(4) {
  display: flex;
  justify-content: flex-end;
}
#concept .concept-left button {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10%;
}
#concept .concept-right {
  align-content: center;
  margin-top: 10%;
}
#concept .concept-right > div {
  width: 100%;
}
#concept .concept-right img {
  width: 100%;
}

#courses {
  margin: 5% auto 0 auto;
  padding: 0 5% 5% 5%;
  background-image: url("/final-practice/images/courses-img.svg"), url("/final-practice/images/courses-back2.svg"), url("/final-practice/images/courses-back.svg");
  background-repeat: no-repeat;
  background-size: 30%, 25%, cover;
  background-position-x: 15%, 100%, center;
  background-position-y: 31%, 90%, center;
}
#courses .courses-head {
  padding-top: 15%;
  text-align: center;
}
#courses .courses-head img {
  width: 30%;
}
#courses #courses-main-container {
  display: flex;
  justify-content: space-around;
  margin: 5% 10%;
}
#courses #courses-main-container h3 {
  color: #0C4324;
}
#courses #courses-main-container .courses-head {
  padding: 4% 0;
}
#courses #courses-main-container .courses-left, #courses #courses-main-container .courses-right {
  width: 37%;
  height: 100%;
  padding: 0;
}
#courses #courses-main-container .courses-left li, #courses #courses-main-container .courses-right li {
  line-height: 2.5rem;
}
#courses #courses-main-container .courses-left .courses-img-container, #courses #courses-main-container .courses-right .courses-img-container {
  width: 100%;
  height: 100%;
}
#courses #courses-main-container .courses-left .courses-img-container img, #courses #courses-main-container .courses-right .courses-img-container img {
  width: 100%;
}
#courses .courses-btn {
  display: flex;
  justify-content: center;
  margin: 2%;
}
#courses .courses-btn button {
  background-color: #F0F5E1;
  border: 1px solid black;
  border-radius: 5px;
}

#voice .voice-head {
  width: 100%;
  position: relative;
}
#voice .voice-head img {
  width: 100%;
}
#voice .voice-head div:nth-of-type(2) {
  position: absolute;
  bottom: -25%;
  text-align: center;
  width: 100%;
}
#voice .voice-head div:nth-of-type(2) img {
  width: 30%;
}
#voice .voice-container {
  display: flex;
  justify-content: space-around;
  margin: 10% 5% 5% 5%;
  text-align: center;
}
#voice .voice-container h3 {
  color: #0C4324;
}
#voice .voice-container img {
  width: 80%;
}
#voice .voice-container .voice-content {
  width: 33%;
}
#voice .voice-img {
  text-align: center;
}
#voice .voice-btn {
  display: flex;
  justify-content: center;
  margin: 5%;
}
#voice .voice-btn button {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

footer {
  padding: 10% 0 0 0;
  background-image: url("/final-practice/images/courses-back.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer-head {
  display: flex;
  justify-content: center;
  padding: 3% 5%;
}
.footer-head img {
  width: 32%;
}

.foot-container {
  display: flex;
  gap: 3%;
  margin: 0 5%;
}

.foot-left {
  width: 50%;
  height: 100%;
}

.foot-right {
  width: 50%;
  padding: 1%;
}

.foot-left img {
  width: 100%;
}
.foot-left ul {
  list-style: none;
  padding: 0;
}
.foot-left h3 {
  color: #468459;
}
.foot-left span {
  font-size: 0.85rem;
}

.foot-right {
  display: flex;
  align-items: center;
}

.copy-right {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #468459;
  color: white;
}

.foot-btn {
  padding: 3%;
  margin: 5% 0 0 0;
  border: none;
  border-radius: 5px;
  background-color: #1B9240;
  font-family: "Noto Sans JP", Sans-serif;
  color: white;
}

.foot-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7% 5%;
}

.foot-logo {
  display: flex;
  align-items: center;
  width: 20%;
}
.foot-logo img {
  width: 100%;
}

.foot-nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 72%;
}
.foot-nav-menu a {
  color: black;
}
/*# sourceMappingURL=style.SCSS.css.map */